/*
Страница контактов:
1. Ширина карты 100%,
2. Высота карты 374px.

Добавить фоновые изображения для header на каждой странице.
*/

/* Настраиваем общие параметры отображения всех страниц сайта */
body                 /* Параметры отображения всей страницы */
{
	background-color: #f8f8f8;	/* Задаем цвет фона */	
}

.container			/* Параметры отображения всей страницы */
{
	min-width: 789px;					/* Минимальная ширина страницы */
    max-width: 99%;                     /* Максимальная ширина страницы */
    margin: 0 auto;                     /* Центрируем страницу в окне отображения */
    /* Размеры блока width и height включают в себя значения внутренних отступов (padding) и границ (border), но не внешних отступов (margin). */
    -webkit-box-sizing: border-box;     /* старые браузеры */
    -moz-box-sizing: border-box;        /* Firefox */
    box-sizing: border-box;             /* IE */
}

/* Параметры отображения header */
.header
{
    height: 92px;                       /* Высота должна позволять вместить логотип и меню */
    display: flex;                      /* Создаем flexbox из header */
    justify-content: space-between;     /* Прижимаем крайние элементы к границам */
}

/* Параметры отображения логотипа */
.logo
{
	font-family: "Book Antiqua", Century, Mistral;
    width: 335px;                /* Ширина */
    height: 50px;                /* Высота */
    margin-left: 10px;           /* Отступ слева */
    margin-top: 10px;            /* Отступ сверху */
}

.logo span          /* Параметры отображения символов лого */
{
    padding: 0px 2px;            /* Увеличиваем расстояние от символов до границ знакомест */
}

.logo span:nth-child(1n)   /* Каждый первый символ логотипа */
{
	color: gold;                 /* Цвет */
	font-size: 250%;             /* Размер */
}

.logo span:first-child     /* Первый символ логотипа */
{
    font-size: 300%;             /* Размер */
}

.logo span:nth-child(2n)   /* Каждый второй символ логотипа */
{
	color: #e4f1ca;              /* Цвет */
	font-size: 175%;             /* Размер */
}

.logo span:nth-child(3n)   /* Каждый третий символ логотипа */
{
	color: #f8c742;              /* Цвет */
    font-size: 225%;             /* Размер */
}

.logo span:nth-child(4n)   /* Каждый четвертый символ логотипа */
{
	color: #cde69c;                 /* Цвет */
}

.logo span:nth-child(5n)   /* Каждый пятый символ логотипа */
{
	color: pink;              /* Цвет */
}

.logo span:nth-child(7)    /* Седьмой символ логотипа */
{
    font-size: 300%;            /* Размер */
}

.menu
{
    margin-top: 9px;            /* Задаем отступ сверху - выравниваем с логотипом */
    padding: 0px;
}

.menu li			/* Параметры отображения списка меню */
{
    list-style-type: none;		/* Убираем маркеры списка */
	text-decoration: none;		/* Убираем подчеркивание в ссылках */
	font-family: "Segoe Script", "Monotype Corsiva", "Mistral";	/* Устанавливаем шрифт текста */
	font-variant: small-caps;	/* Отображаем строчные буквы в виде заглавных меньшего размера */
	font-size: 125%;			/* Задаем размер шрифта */
    text-align: center;         /* Центрируем ссылку */
    border-color: dimgrey;      /* Цвет рамки */
    border-style: solid;        /* Стиль рамки */
    border-width: 1px;          /* Ширина рамки */
    background-color: lightyellow;  /* Цвет кнопок */
    display: inline-block;      /* Располагаем меню горизонтально */
    border-radius: 100%;        /* Загкругляем кнопки */    
    width: 110px;               /* Задаем ширину кнопок */
}

.menu li:first-child
{
    padding: 20px 23px 20px 17px;         /* Увеличиваем расстояние от содержимого до границ кнопок */
}

.menu li:nth-child(2)
{
    padding: 20px 16px 20px 14px;         /* Увеличиваем расстояние от содержимого до границ кнопок */
}

.menu li:last-child
{
    padding: 20px 25px 20px 5px;         /* Увеличиваем расстояние от содержимого до границ кнопок */
}

.menu li:hover
{
    background-color: #e4f1ca;  /* Меняем цвет фона */
}

/* Параметры отображения выбранного пункта меню */
.current_page a
{
    font-weight: 900;    /* Выделяем выбранный пункт меню */    
}

.current_page:nth-child(n)
{
    background-color: #e4f1ca;   /* Меняем цвет кнопки */
}

.menu li a
{
    padding: 20px 10px;
}

a:hover	            /* При наведении курсора на ссылку */
{
	color: #f8c742;				/* Меняем цвет */
}

a:active            /* При нажатии на ссылку */
{
    color: gold;                /* Меняем цвет */
}

a                   /* Параметры отображения ссылок на страницах */
{
    text-decoration: none;		/* Убираем подчеркивание в ссылках */
    color: dimgrey;             /* Задаем цвет */
}

/* Настраиваем отображение контента на страницах */
.content a       /* Параметры отображения ссылок */
{
    font-style: italic;         /* Курсив */
}

/* Настраиваем отображение футера для всех страниц */
.footer
{
    color: gold;             /* Задаем цвет текста */
    font-size: 50%;			    /* Задаем размер шрифта */
    min-height: 3000px;          /* Задаем высоту */
    background-color: #eee;     /* Задаем цвет фона */
    text-align: right;          /* Прижимаем текст к правому краю */
    padding-right: 15px;        /* Отодвигаем текст от верхней границы */
    padding-top: 20px;          /* Отодвигаем текст от правой границы */
    background-image: url(../img/apples_footer.jpg);
}

/* Настраиваем отображение страниц каталога сайта */
.catalog img        /* Параметры отображения изображений */
{
    border-radius: 100px;        /* Делаем максимальное закругление краев */
}

.product_list
{
    padding-left: 0px;
}

.product_list li
{
    display: inline-block;
    width: 100px;
    text-align: center;    
}

.product_list li a
{
    padding-top: 90px;
}

/* Настраиваем отображение страниц каталога сайта */
.product h3			/* Параметры отображения заголовков (Описание товара, Характеристики, Подробное
					описание товара, Условия хранения) */
{
	background-color: #eaeaea;	/* Задаем цвет фона */
	color: #000;				/* Задаем цвет текста черный */
	font-size: 18px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */    
}

.info_for_picture   /* Параметры отображения раздела Описание товара */
{
    margin-left: 110px;         /* Сдвигаем вправо, чтобы было расстояние между текстом и изображением товара */
}

.product p:first-letter /* Делаем первую букву первого слова каждого параграфа другим размером и шрифтом */
{
    font-family: "Monotype Corsiva", "Mistral", "Segoe Script";
    font-size: 200%;
}

.product img         /* Параметры отображения изображений продуктов */
{
    outline-width: 1px;        /* Ширина рамки */
    outline-style: solid;      /* Стиль рамки */
    outline-color: black;      /* Цвет рамки */
    float: left;               /* Прижимаем изображение товара к левой границе для обтекания текстом справа */
}

.product img:hover	/* При наведении курсора на изображение */
{
	outline-width: 0px;	/* убираем рамку, картинка остается неподвижной */
}

.small_description	/* Параметры отображения текста краткого описания товара */
{
	color: #707070;				/* Задаем цвет текста */
	font-size: 14px;			/* Задаем размер шрифта */
	font-style: italic;			/* Задаем наклонное начертание шрифта */
	line-height: 16px;			/* Задаем высоту текста */
}

.info                     /* Параметры отображения таблиц */
{
    border-spacing: 0;              /* Убираем внешние отступы от ячеек таблицы */
    border-width: 1px 1px 1px 0px;  /* Ширина линий рамки таблицы */
    border-style: solid;            /* Стиль линий рамки */
    border-color: dimgrey;          /* Цвет линий рамки */    
    border-radius: 10px;            /* Скругляем углы рамки таблицы */
}

.info th, td              /* Параметры отображения линий таблиц и содержимого ячеек */
{
    text-align: center;             /* Центрируем содержимое */
    border-left-width: 1px;         /* Ширина левых линий сетки таблицы */
    border-left-style: solid;       /* Стиль левых линий сетки таблицы */
}

.info th                  /* Параметры отображения заголовка таблиц */
{
    padding: 10px;                 /* Увеличиваем расстояние от содержимого до границ ячеек заголовка таблицы */    
    background-color: #e4f1ca;     /* Цвет строки */        
}

.info td                  /* Параметры отображения ячеек таблиц */
{
    padding: 0px 10px;             /* Увеличиваем расстояние от содержимого до левой и правой границ ячеек таблицы */
    background-color: lightyellow; /* Цвет строк */
    border-top-width: 1px;         /* Ширина верхних линий сетки таблицы */
    border-top-style: solid;       /* Стиль верхних линий сетки таблицы */
}

.info th:first-child      /* Параметры отображения левой врхней ячейки таблицы */
{
    border-top-left-radius: 10px;   /* Скругляем линию в левом верхнем углу */
}

.info th:last-child       /* Параметры отображения правой верхней ячейки таблицы */
{
    border-top-right-radius: 10px;  /* Скругляем линию в правом верхнем углу */
}

.info tr:last-child td:first-child    /* Параметры отображения левой нижней ячейки таблицы */
{
    border-bottom-left-radius: 10px; /* Скругляем линию в левом нижнем углу */
}

.info td:last-child       /* Параметры отображения правой нижней ячейки таблицы */
{
    border-bottom-right-radius: 10px; /* Скругляем линию в правом нижнем углу */
}

.characteristics    /* Параметры отображения списка характеристик товара */
{
    background: lightgoldenrodyellow;   /* Задаем цвет фона */
    color: #555;                        /* Задаем цвет текста */
    font-size: 80%;                     /* Задаем размер шрифта */
    font-weight: 100;                   /* Задаем толщину шрифта */
    font-family: Arial, "Times New Roman";                /* Задаем шрифт */
    list-style-image: url(../img/check-mark_18px.gif);    /* Задаем изображение в качестве маркера */
}

.full_description	/* Параметры отображения текста подробного описания товара */
{
	color: #484343;				/* Задаем цвет текста */
	font-size: 16px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */
	line-height: 24px;			/* Задаем высоту текста */
	text-align: left;			/* Задаем расположение текста по левому краю */
}

/* Настраиваем отображение страницы контактов */
.username, .phonenumber, .email
{
    line-height: 130%;          /* Высота полей для заполнения */
}

.username, .phonenumber, .email, .problem
{
    font-size: 80%;             /* Размер шрифта в полях */
    color: lightslategray;      /* Цвет шрифта в полях */
    font-family: Arial, "Times New Roman";  /* Шрифт в полях */
    font-style: italic;         /* Курсив */
    padding-left: 5px;          /* Отступ текста от границы поля слева */
}

input[type="text"]:focus, textarea:focus    /* при вводе в поля */
{
    color: dimgrey;              /* поменять цвет текста */
    background-color: #e4f1ca;    /* поменять цвет поля */
}

.username    /* при вводе в поле Ваше имя */
{
    /* автоматически первая буква каждого слова становится заглавной */
    text-transform: capitalize;
}

input[type="text"], select, textarea
{
    width: 450px;
}

input:not([type="file"]), textarea, fieldset
{
    border-radius: 10px;    
}

input:not([type="file"]), textarea, select    /* Параметры отображения пользовательских кнопок */
{
    background-color: lightyellow;  /* Цвет кнопок */
}

input[type="button"]    
{
    margin-left: 17px;
}

input:not([type="file"]):hover, textarea:hover, select:hover    /* Настройки кнопок при наведении на них курсора */
{
    background-color: #e4f1ca;  /* Меняем цвет фона */
}

input[type="button"]:focus  /* Отображение нажатой кнопки */
{
    background-color: #e4f1ca;  /* Меняем цвет фона */
}