body		/* Параметры отображения всей страницы */
{
	background-color: #f8f8f8;	/* Задаем цвет фона */	
}

/* Настраиваем отображение меню сайта */
.menu		/* Параметры отображения всего списка меню */
{
	list-style-type: none;		/* Убираем маркеры списка */
    color: #e2e411;				/* Задаем цвет текста */
}

.menu li a			/* Параметры отображения ссылок в меню */
{
	text-decoration: none;		/* Убираем подчеркивание в ссылках */	
	color: inherit;             /* Наследуем цвет, заданный для списка элементов меню */
	font-family: "Monotype Corsiva", "Mistral", "Segoe Script";	/* Устанавливаем шрифт текста */
	font-variant: small-caps;	/* Отображаем строчные буквы в виде заглавных меньшего размера */
	font-size: 150%;			/* Задаем размер шрифта */
	font-weight: 100;			/* Задаем минимальную толщину шрифта */
}

.product h3			/* Параметры отображения заголовков (Описание товара, Характеристики, Подробное
					описание товара, Условия хранения) на страницах с товарами каталога */
{
	background-color: #eaeaea;	/* Задаем цвет фона */
	color: #000;				/* Задаем цвет текста черный */
	font-size: 18px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */
}

.small_description	/* Параметры отображения текста краткого описания товара */
{
	color: #707070;				/* Задаем цвет текста */
	font-size: 14px;			/* Задаем размер шрифта */
	font-style: italic;			/* Задаем наклонное начертание шрифта */
	line-height: 16px;			/* Задаем высоту текста */
}

.full_description	/* Параметры отображения текста подробного описания товара */
{
	color: #484343;				/* Задаем цвет текста */
	font-size: 16px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */
	line-height: 24px;			/* Задаем высоту текста */
	text-align: left;			/* Задаем расположение текста по левому краю */
}

/*
4.Страница “Товар каталога”
d.Для списка Характеристики товара
* задайте списку стили, отличные от всего остального текста.
* установите в качестве маркеров произвольные изображения

5.Странице “Контакты”:
a.Задать значения ширины и высоты для полей ввода.
b.Задать стили для текста, внутри полей input. ( Цвет текста, размер шрифта и т.д.).
c.Следите за тем, чтобы на странице всё выглядело гармонично, не выбирайте слишком резких цветов.

6.*Для изображений, размещенных на странице подробного описания товара, задать рамку не используя свойства border, произвольным цветом.
7.*Приветствуются самостоятельные дополнения ваших работ в пределах пройденной темы.
 */