/* Настраиваем общие параметры отображения всех страниц сайта */
body                 /* Параметры отображения всей страницы */
{
	background-color: #f8f8f8;	/* Задаем цвет фона */	
}

.menu		        /* Параметры отображения всего списка меню */
{
	list-style-type: none;		/* Убираем маркеры списка */
    color: #e2e411;				/* Задаем цвет текста */
}

.menu li a			/* Параметры отображения ссылок в меню */
{
	text-decoration: none;		/* Убираем подчеркивание в ссылках */	
	color: inherit;             /* Наследуем цвет, заданный для списка элементов меню */
	font-family: "Monotype Corsiva", "Mistral", "Segoe Script";	/* Устанавливаем шрифт текста */
	font-variant: small-caps;	/* Отображаем строчные буквы в виде заглавных меньшего размера */
	font-size: 150%;			/* Задаем размер шрифта */
	font-weight: 100;			/* Задаем минимальную толщину шрифта */
}

a /* Параметры отображения ссылок на страницах */
{
    text-decoration: none;		/* Убираем подчеркивание в ссылках */
    color: dimgrey;             /* Задаем цвет */
}

/* Настраиваем отображение футера для всех страниц */
.footer
{
    color: #707070;             /* Задаем цвет текста */
    font-size: 50%;			    /* Задаем размер шрифта */
}

/* Настраиваем отображение страниц каталога сайта */
.product h3			/* Параметры отображения заголовков (Описание товара, Характеристики, Подробное
					описание товара, Условия хранения) */
{
	background-color: #eaeaea;	/* Задаем цвет фона */
	color: #000;				/* Задаем цвет текста черный */
	font-size: 18px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */
}

.product img         /* Параметры отображения изображений продуктов */
{
    outline-width: 1px;        /* Ширина рамки */
    outline-style: solid;      /* Стиль рамки */
    outline-color: black;      /* Цвет рамки */
    
}

.small_description	/* Параметры отображения текста краткого описания товара */
{
	color: #707070;				/* Задаем цвет текста */
	font-size: 14px;			/* Задаем размер шрифта */
	font-style: italic;			/* Задаем наклонное начертание шрифта */
	line-height: 16px;			/* Задаем высоту текста */
}

.characteristics /* Параметры отображения списка характеристик товара */
{
    background: lightgoldenrodyellow;   /* Задаем цвет фона */
	color: #555;				        /* Задаем цвет текста */
	font-size: 80%;			            /* Задаем размер шрифта */
	font-weight: 100;			        /* Задаем толщину шрифта */
    font-family: Arial, "Times New Roman";                /* Задаем шрифт */
    list-style-image: url(../img/check-mark_18px.gif);    /* Задаем изображение в качестве маркера */
}

.full_description	/* Параметры отображения текста подробного описания товара */
{
	color: #484343;				/* Задаем цвет текста */
	font-size: 16px;			/* Задаем размер шрифта */
	font-weight: 400;			/* Задаем толщину шрифта */
	line-height: 24px;			/* Задаем высоту текста */
	text-align: left;			/* Задаем расположение текста по левому краю */
}

/* Настраиваем отображение страницы контактов */
.username, .phonenumber, .email
{
    line-height: 200%;
}

.username, .phonenumber, .email, .problem
{
    font-size: 80%;
    color: lightslategray;
    font-family: Arial, "Times New Roman";
}

.request
{
    width: 37%;
}